/* Estilos de donde se muestran las acciones */
.container-actions {
    position: relative;
    grid-area: actions;
    border: 2px solid #bbbbbb;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    background-color: #FAFAFA;
    .img-logo{
        width: 15rem;
    }
}