@mixin alert($background-color: #8fc5f1, $text-color: #507899){
    background-color: #{$background-color};
    color: #{$text-color};
}

.form-create-expediente {
    width: 95%;
    margin: auto;
    max-height: 88vh;
    border: 1px solid #DDDDDD;
    color: #333;
    transition: 1.5s .01s ease-in-out;
    position: absolute;
    // transform: translateY(300%);
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    
    // Estilos del encabezado
    &-header {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 15px;

        .title-form{
            width: 100%;
            height: auto;
            color: #439b9a;
            border-bottom: 2px solid #439b9a;
            padding-bottom: 5px;
        }
    }

    // Estilos de la alerta
    .alert {
        @include alert(#e6f4ff, #507899);
        border-radius: 10px;
        padding: 15px 25px;
        font-size: 0.9rem;
        
        &-list {
            list-style: none;
        }
    }

    // Estilos de la seccion del contenido del formulario
    &-body {
        width: 100%;
        height: auto;
        // border: 1px solid green;

        .form-create-exp {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            row-gap: 20px;
        }

        .fila {
            width: 100%;
            // border: 1px solid blue;
            display: flex;
            column-gap: 20px;
        }
    }

    // Estilos de la seccion del footer
    &-footer {
        width: 100%;
        border: 1px solid red;
        border: #DDDDDD;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        border-radius: 5px;
        column-gap: 10px;

        .button-form-create {
            padding: 8px 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1.1rem;
            width: 8rem;
            cursor: pointer;

            &-submit{
                background-color: #439b9a;
                color: #fff;

                &:hover{
                    background-color: #337a91;
                }
            }

            &-cancel{
                background-color: transparent;
                color: #439b9a;
                border: 1px solid #439b9a;

                &:hover{
                    background-color: #439b9a;
                    color: #fff;
                }
            }
        }
    }
}

.show-form {
    transform: translateY(0%);
}

