// Estilos generales
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hidden {
    display: none !important;
}

/* Estilos generales del contenedor */
.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
    display: grid;
    grid-template: 
    "header header" 8vh
    "actions chat" 92vh/
    65% 35%;
}

@import 'header';
@import 'actions';
@import 'chat';