* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hidden {
  display: none !important;
}

.block {
  display: inline-block !important;
}

/* Estilos generales del contenedor */
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #FAFAFA;
  display: grid;
  grid-template: "header header" 8vh "actions chat" 92vh/65% 35%;
  overflow: hidden;
}

@keyframes opacity {
  from {
    transform: scale(1);
    opacity: 1;
  }
  33% {
    transform: scale(1.05);
    opacity: 1;
  }
  66% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Estilos del encabezado */
.header {
  position: relative;
  grid-area: header;
  border: 2px solid blue;
}

/* Estilos de donde se muestran las acciones */
.container-actions {
  position: relative;
  grid-area: actions;
  border: 2px solid #bbbbbb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  background-color: #FAFAFA;
}
.container-actions .img-logo {
  width: 15rem;
}

.block {
  position: relative;
  overflow-X: hidden;
  width: 100%;
}

.input-form {
  position: relative;
  border: none;
  border-bottom: 3px solid #b9b9b9;
  padding: 3px 8px;
  padding-top: 18px;
  outline: none;
  overflow-x: hidden;
  background: #F4F7FD;
  width: 100%;
  font-size: 1rem;
  color: #333;
}

.label-form {
  position: absolute;
  top: 10px;
  left: 9px;
  color: #666;
  pointer-events: none;
  transition: 0.4s all ease;
  font-size: 0.9rem;
}

.block input:focus ~ .label-form,
.block input:valid ~ .label-form {
  top: 0px;
  left: 7px;
  font-size: 11px;
  font-weight: bold;
  color: #439b9a;
}

span {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: -100%;
  transition: 0.4s all ease;
}

.block input:focus ~ span,
.block input:valid ~ span {
  left: 0%;
  background: #439b9a;
}

.form-create-expediente {
  width: 95%;
  margin: auto;
  max-height: 88vh;
  border: 1px solid #DDDDDD;
  color: #333;
  transition: 0.8s 0.01s ease-in-out;
  position: absolute;
  transform: translateY(300%);
  background-color: #FAFAFA;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
}
.form-create-expediente-header {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 15px;
}
.form-create-expediente-header .title-form {
  width: 100%;
  height: auto;
  color: #439b9a;
  border-bottom: 2px solid #439b9a;
  padding-bottom: 5px;
}
.form-create-expediente .alert {
  background-color: #e6f4ff;
  color: #507899;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 0.9rem;
}
.form-create-expediente .alert-list {
  list-style: none;
}
.form-create-expediente-body {
  width: 100%;
  height: auto;
}
.form-create-expediente-body .form-create-exp {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 20px;
}
.form-create-expediente-body .fila {
  width: 100%;
  display: flex;
  column-gap: 20px;
}

.show-form {
  transform: translateY(0%);
}

/* Estilos del chat */
.container-chat {
  position: relative;
  grid-area: chat;
  padding: 15px;
  overflow: hidden;
}

/* Estilos del header del chat */
.container-chat-header {
  position: relative;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #07beb8;
  color: #FAFAFA;
}

/* Estilos del contenedor de los mensajes */
.container-chat-message {
  position: relative;
  height: 75vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 15px;
  row-gap: 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.container-chat-message-scroll {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}

.prompt {
  max-width: 80%;
  border-radius: 10px;
  padding: 7px 10px;
  color: #FAFAFA;
  text-align: left;
}
.prompt p {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.prompt-IA {
  background-color: #5ca4a9;
}
.prompt-user {
  background-color: #457b7f;
}

.container-chat-footer {
  height: 7vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #68d8d6;
  border: 1px solid gray;
}
.container-chat-footer .input-prompt {
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  background-color: #c4fff9;
  color: #333;
  padding: 6px 10px;
}
.container-chat-footer .input-prompt::placeholder {
  color: #439b9a;
}
.container-chat-footer-buttons {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.container-chat-footer-buttons .btn {
  width: 35px;
  height: 35px;
  background-color: #c4fff9;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.01s 0.1s ease-in-out;
  border-radius: 50%;
  padding: 8px;
}
.container-chat-footer-buttons .btn:hover {
  background-color: #333;
}
.container-chat-footer-buttons .btn-stop-record {
  animation: opacity 2.5s linear infinite;
}
.container-chat-footer-buttons .icon {
  color: #439b9a;
  font-size: 1.1rem;
}

.div-general {
  width: 100%;
  height: auto;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

/*# sourceMappingURL=style.css.map */
